:root {
  --primary-color: #f9ab00;
  --box-shadow: 0.5rem 0.5rem 1.6rem 0 cyan;
  --border: 0.2rem solid cyan;
  --text-color-1: #444;
  --text-color-2: #666;
  --bg-color-1: #262526;
  --bg-color-2: #262526;
}

.content {
  display: flex;
  justify-content: center;
}

.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 2rem;
}

.services .box-container .box {
  background: #262526;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  border: var(--border);
  padding: 2.5rem;
  margin-left: 5px;
  margin-right: 5px;
}

.services .box-container .box i {
  color: var(--primary-color);
  font-size: 5rem;
  padding-bottom: 0.5rem;
}

.services .box-container .box h3 {
  color: #fff;
  padding: 1rem 0;
  font-size: 2rem;
}

.services .box-container .box p {
  color: #8c6585;
  line-height: 2;
  font-size: 1.4rem;
  font-weight: bolder;
}

.heading {
  color: var(--primary-color);
  text-align: center;
  font-size: 4rem;
  margin-top: 5rem;
}

/* Media Quries */

@media screen and (max-width: 392px) {
  .services .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    gap: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .services .box-container .box {
    margin-left: 15px;
    margin-right: 15px;
  }
}

/* Service Section Ends */

/* Hotes Section Starts */

.hotel .box-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
  margin: 3rem 0;
  margin-top: 12px;
}

.hotel .box-container .image {
  flex: 1 1 50rem;
  overflow: hidden;
  border-radius: 0.5em;
  border: 5px solid rgba(255, 255, 255, 0.05);
}

.hotel .box-container .image img {
  width: 100%;
  border-radius: 2rem;
  transition: 0.5s linear;
}

.hotel .box-container .content {
  flex: 1 1 45rem;
}

.hotel .box-container .content h1 {
  font-size: 4rem;
  padding: 1rem 0;
  color: #fff;
}

.hotel .box-container .content p {
  font-size: 1.7rem;
  padding: 1rem 0;
  color: #fff;
  text-align: center;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  border: 0.2rem solid #00ff00;
  color: #00e0ff;
  cursor: pointer;
  background: none;
  font-size: 1.7rem;
  padding: 1rem 3rem;
}

.btn:hover {
  background: #888888;
  color: #ffffe;
}

@media screen and (max-width: 375px) {
  .hotel .box-container .content h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 375px) {
  .hotel .box-container .content p {
    font-size: 1.7rem;
  }
}

.load-more {
  text-align: center;
  margin-top: 1rem;
}

/* Hotes Section Ends */

/* Gallery Section Starts Here */

.gallery .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.gallery .box-container .box {
  height: 25rem;
  flex: 1 1 35rem;
  border: .41em solid #000;
  box-shadow: 0 .5rem 1rem rgba(250, 250, 250, 0.81);
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  margin-left: 8px;
  margin-right: 8px;
}

.gallery .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery .box-container .box .content {
  position: absolute;
  top: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(12,1,1, 0.5);
  padding: 2rem;
  padding-top: 10rem;
  text-align: center;
}

.gallery .box-container .box .content h3 {
  font-size: 2.5rem;
  color: #fff;
}

.gallery .box-container .box:hover .content {
  top: 0;
  transition: top 1s ease-in-out;
}

/* Gallery Section Starts Ends */

